:root {
  --red: 14 86% 42%;
  --green: 159 69% 38%;
  --rose-050: 20 50% 98%;
  --rose-100: 13 31% 94%;
  --rose-300: 14 25% 72%;
  --rose-400: 7 20% 60%;
  --rose-500: 12 20% 44%;
  --rose-900: 14 65% 9%;
  --white: 0 0% 100%;

  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-600: 1.5rem;
  --ff-sans: "Red Hat Text", sans-serif;

  --fw-regular: 400;
  --fw-medium: 600;
  --fw-bold: 700;

  --clr-background: var(--rose-050);
  --clr-dark: var(--rose-900);
  --clr-foreground: var(--rose-900);
  --clr-accent: var(--red);
  --clr-muted: var(--rose-500);
  --clr-info: var(--rose-100);

  --ff-body: var(--ff-sans);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img,
picture {
  max-width: 100%;
  display: block;
}

ul[class] {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h3,
span {
  margin: 0;
}

body {
  background-color: hsl(var(--clr-background));
  color: hsl(var(--clr-foreground));
  margin: 0;
  line-height: 1.6;
  font-family: var(--ff-body);
}

.text-center {
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.wrapper {
  --max-width: 76rem;
  --padding: 1.5rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-top: 4rem;
  margin-inline: auto;
}

@media (min-width: 640px) {
  .wrapper {
    --gap: 1rem;
    display: grid;
    grid-template-columns: 1fr min(50% - var(--gap), 384px);
    gap: var(--gap);
  }
}
