---
import Root from "@/layouts/root.astro"
import Cart from "@/components/cart"
import ProductList from "@/components/product-list.astro"
import OrderConfirmed from "@/components/order-confirmed"
---

<Root title="Product list with cart">
  <main>
    <h1>Desserts</h1>
    <ProductList productType="desserts" />
  </main>
  <aside>
    <Cart client:idle />
  </aside>
  <OrderConfirmed client:idle />
</Root>
