---
import Root from "@/layouts/root.astro"
import Cart from "@/components/cart"
import ProductList from "@/components/product-list.astro"
import OrderConfirmed from "@/components/order-confirmed"
---

<Root title="Product list with cart">
  <div class="wrapper">
    <main>
      <h1 class="fs-800">Desserts</h1>
      <ProductList productType="desserts" />
    </main>
    <aside>
      <Cart client:idle />
    </aside>
  </div>
  <OrderConfirmed client:idle />
</Root>
